<hello name="{{ name }}"></hello>
<div class="content" role="main">
  <button mat-button routerLink="/dashboard" color="primary">Dashboard</button>
  <button mat-stroked-button color="accent" routerLink="address">
    Address
  </button>
  <button mat-icon-button>
    <mat-icon aria-label="Example icon-button with a heart icon"
      >favorite</mat-icon
    >
  </button>

  <mat-slider min="1" max="100" step="1" value="50"></mat-slider>

  <router-outlet></router-outlet>

  <!-- Footer -->
  <footer>Love Angular?&nbsp;</footer>
</div>
